.container {
  margin-top: 150px;
}

h1 {
  color: #555
}

.oferta {
  margin-top: 25px;
  margin-bottom: 30px;
}

.oferta img {
  width: 85%;
  height: auto;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin-top: 10px;
}

.thumbnails img {
  margin-left: 4px;
  margin-top: 4px;
  width: 130px;
  height: auto;
}
